<<<<<<< HEAD
.square {
  display: table;
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-collapse: collapse;
  background-color: antiquewhite;
}
.mother-square {
  display: table;
  border: 2px solid #000;
  border-collapse: collapse;
  position: absolute;
  top: -2px;
  left: -2px;
}
=======
.square {
  display: table;
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-collapse: collapse;
  background-color: antiquewhite;
}
.mother-square {
  display: table;
  border: 2px solid #000;
  border-collapse: collapse;
  position: absolute;
  top: -2px;
  left: -2px;
}
>>>>>>> f41421824d1dd6747483c119f66108098be197d2
